@use './variables' as *;
@use './mixin' as *;


@font-face {
    font-family: 'AvenirNext';
    src: url('../../assets/Font/AvenirNextLTPro.ttf') format('truetype');
    src:url('../../assets/Font/AvenirNextLTPro-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'AvenirNext';
    src: url('../../assets/Font/AvenirNextLTProBold.ttf') format('truetype');
    src:url('../../assets/Font/AvenirNextLTPro-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'AvenirNext';
    src: url('../../assets/Font/AvenirNextLTProDemi.ttf') format('truetype');
    src:url('../../assets/Font/AvenirNextLTPro-Demi.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
  }
  

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: AvenirNext;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.logo{
    background-color: $Black;
    width: 120px;
    height: 20px;
    color: $White;
    text-align: center;
    margin: 1rem;
    font-size: 1.3rem;
}

.header{
    width: 100vw;
    height: auto;
    background-color: $Black;

    &__container{
        width: 1280px;
        height: 12vh;
        margin: 0 auto;
        padding-left: 5rem;
        display: flex;
        align-items: center;
        box-sizing: border-box;
    }

    &__nav-list{
        display: flex;
        &-item{
            margin-left: 2rem;
            color: $Silver;
            @include deskFooter;
            line-height: 12.1vh;
            &:hover{
                border-bottom: 5px solid $White;
                color: $White;
            }
        }
    }

    @media (max-width: $mobile){    
        &__container {
            width: 100vw;
            height: auto;
            flex-direction: column;
            padding-left: 0px;
        }
          .logo{
            font-size: 2.5em;
            margin: 1.5rem 0;
            margin-left: -4rem;
        }
        &__nav {
            width: 100%; 
        }
        &__nav-list {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }   
        &__nav-list-item{
            line-height: 2rem;
            font-size: 1.5em;
            padding: 1rem 0;
            margin: 0;
            text-align: center;
        }
    }

    @include tabletScreen{
        &__container{
            width: 100%;
            height: auto;
            padding-left: 1.3rem;
        }

        &__nav-list-item{
            line-height: 4rem;
        }

        .logo{
            font-size: 1.5em;
        }
     
    }
}


.footer{
    width: 100vw;
    height: auto;
    background-color: $Black;
    &__container{
        width: 1280px;
        margin: 0 auto;
        padding: 2rem 5rem;
        box-sizing: border-box;
    }

    &__contact{
        display: flex;
        align-items: center;

        &-title{
            @include deskHeader2;
            font-weight: 600;
            color: $White;
            margin-right: 3rem;
        }

        &-icons{
            margin-right: 1.5rem;
            & img{
                width: 25px;
                height: 25px;
                vertical-align: bottom;
            }

        }
        &-logo{
            margin-left: auto;
        }  
    }

    &__info{
        display: flex;
        margin-top: 2rem;
        @include deskFooter;
        color: $White;

        &-detail{
            margin-right: 4rem;
        }
        &-text.address, &-text.email{
            margin-top: 2rem; 
        }
        &-text.agency{
            font-weight: 600;
        }
    }

    &__copyright{
        @include deskFooter;
        color: $White;
        margin-top: 3rem;
    }

    &__copyright-logo{
        display: none;
    }

    @media (max-width: $mobile){
        @include mobileBodyFooter;
        &__container{
            width: 100%; 
            height: 100%;
            padding: 2rem 1rem; 
            flex-direction: column; 
        }

        &__info {
            flex-direction: column; 
          }

        &__contact-logo{
            display: none;
        }
        &__copyright-logo{
            display: block;
            margin-top: 2rem;
            margin-left: -0.5rem;
        }
        &__copyright{
            margin: 0;
            margin-bottom: 2rem;
        }

        .address{
            margin-top: 1rem;
        }
        .email{
            margin-top: 1rem;
            margin-bottom: 2rem;
        }

        &__contact{
            display: grid;
            grid-template-columns: repeat(15,1fr);

        &-title {
            margin: 0; 
            grid-column: 1/18;
        }

        &-icons {
            margin-top: 1rem; 
          }

        }
    }

    @include tabletScreen{
        &__container{
            width: 100%;
        }
        &__contact-logo{
            margin-left: 20rem;
        }
        &__contact-title {
            white-space: nowrap;
        }
        &__contact-logo{
            margin-left: 5rem;
        }
    }
}

.cover{
    width: 100%;
    height: 100%;
    background-color: rgba($color: $Black, $alpha: 0.5);
}

